*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

body{
    background-image: url("/assets/images/clouds.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: sans-serif;
}
button {
    display: flex; 
    height: 40px;
    width: 400px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgba(24, 24, 27, 0.3);
    font-size: x-large;
    font-display: center;
    font-family: sans-serif;
    color: white;
  }